*{
    padding:0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #f1c40f;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: #e74c3c;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: #3498db;
}
#box{
    height: 100px;
    width: 100px;
    background-color: #2ecc71;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}