*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
   width: 100%;
   height: 100%;
}
#car1{
    top: 5%;
    height: 100px;
    width: 70px;
    background-color: black;
    position: absolute;
}#car2{
    height: 100px;
    width: 80px;
    background-color: rgb(190, 9, 9);
}#car3{
    position: absolute;
    top: 10%;
    left: 20%;
    height: 100px;
    width: 100px;
    background-color: rgb(17, 213, 10);
}
#box{
    position: relative;
    height: 300px;
    width: 300px;
    background-color: rgb(101, 122, 150);
}
#boxb{
  position: absolute;
  top: 10%;
  left: 9%;
    height: 50px;
    width: 50px;
     background-color: rgb(242, 65, 95);
}